@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link-transition {
  transition: text-shadow 0.3s ease;
  &:hover {
    text-shadow: 0 0 2px $color-main-white;
  }
}

@mixin button-style {
  width: 200px;
  height: 57px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: $color-main-white;
  border-radius: 10px;
  border: 2px solid $color-main-blue;
  background-color: $color-main-blue;
  cursor: pointer;
  @include flex-center;
  transition: all 0.3s ease;
  margin-bottom: 30px;

  &:hover,
  &.hover {
    color: $color-blue-dark;
    background-color: transparent;
    border-color: $color-main-blue;
    transform: scale(1.05);
  }

  @media screen and (min-width: $bp-tablet) {
    width: 225px;
    height: 67px;
    font-size: 20px;
    margin-bottom: 70px;
  }
}
