.greetings {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 140px 0 100px 0;
  }

  &__info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    color: var(--color-main-blue);
    font-family: Rubik;
    font-weight: 700;
    font-size: 40px;
    width: 453px;
    margin-bottom: 0;
  }

  &__text {
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    width: 411px;
  }

  &__img {
    width: 153px;
    height: 154px;
  }
}

.go-back-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
