.contact-details-section {
  padding: 20px 0 70px;
}

.contact-details {
  &__heading {
    position: relative;
    display: inline-block;
  }

  &__main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 21px;
  }

  &__text-outline {
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    transform: translate(29px, 10px);
    white-space: nowrap;
  }

  &__text-fill {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    color: var(--color-blue-dark);
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--color-blue-dark);
  }

  &__subtitles {
    font-size: 20px;
    max-width: 100%;
    width: 570px;
    margin: 0;
    padding: 0;
  }

  &__text {
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
    max-width: 570px;
    margin: 0 0 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 0;
    margin: 30px 0;
    align-items: flex-start;
    justify-content: center;
  }

  &__text-content {
    margin: 30px 0;
  }

  &__image-wrapper {
    flex-shrink: 0;
    max-width: 570px;
    height: 484px;
    border-radius: 30px;
    margin-top: 77px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
