.footer {
  background-color: var(--color-blue-dark);
  padding: 55px 0 48px 0;
  margin-top: auto;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    text-align: center;
    padding-bottom: 20px;
    display: block;
  }

  &__img {
    width: 156px;
    height: 16px;
  }

  &__bottom-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
  }

  &__line {
    width: 616px;
    height: 1px;
    background-color: var(--color-brown-line);
    margin: 0 auto;
  }

  &__menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    li {
      min-width: 78px;
      text-align: center;
    }

    a {
      margin: 0;
      padding: 0;
      color: var(--color-main-white);
      text-decoration: none;
      font-size: 16px;
      transition: text-shadow 0.3s ease;
      white-space: nowrap;
      font-weight: 400;
      display: block;
      min-width: 113px;
      text-shadow: 0 0 2px var(--color-text-shadow-default);

      &:hover {
        text-shadow: 0 0 2px var(--color-main-white);
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}
