.program-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.program-card {
  border: 1px solid var(--color-main-blue);
  border-radius: 20px;
  padding: 30px 40px 0 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 240px;

  &__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--color-main-black);
    line-height: 1.4;
  }

  &__text {
    font-size: 20px;
    font-style: italic;
    color: #3e5060;
    margin: 5px 0;
    line-height: 1.6;
  }

  &__icon-img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px 0;
  }
}

.read-more-btn2 {
  position: relative;
  right: 96px;
  top: 25px;
  transform: translateY(5%);
  align-self: flex-end;
  margin-top: auto;
  padding: 25px 58px;
}

.quote-block {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin: 10px 0 20px;
}

.checkbox-grid-2x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 20px 60px;
  font-weight: 300;
  font-size: 17px;
  max-width: 600px;
}

.container-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  gap: 10px;
  position: relative;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

#level {
  font-weight: 700;
}

.level-checkbox-group {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;

  .container-checkbox {
    display: flex;
    align-items: center;
  }
}
