.share-my-program {
  &__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-top: 29px;
    margin-top: -50px;
  }

  &__img {
    max-width: 594px;
    height: 154px;
    display: block;
    margin: 20px auto 0;
  }
}
