.input-with-optional-button {
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 539px;
  width: 539px;

  input,
  select {
    flex: 0 0 539px;
    width: 100%;
  }

  &.select-open {
    .select-arrow {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.select-arrow {
  display: inline-block;
  fill: var(--color-grey);
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  pointer-events: none;
  z-index: 2;
  width: 16px;
  height: 16px;
}

.custom-select-wrapper {
  position: relative;

  &.active {
    .select-arrow {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .custom-select-dropdown {
    position: absolute;
    border: 3px solid var(--color-main-blue);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 500px;
    padding: 5px 0;
    opacity: 1;
    border-radius: 30px;
    display: none;
    overflow-y: scroll;
    width: 100%;

    &.active {
      display: block;
    }

    .custom-select-option {
      font-size: 17px;
      padding: 13px 16px;
      cursor: pointer;
      color: var(--color-main-black);
      border-bottom: 1px solid #aeaeae80;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
