.faq-section {
  padding: 70px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.faq {
  &__heading {
    position: relative;
    display: inline-block;
  }

  &__text-outline {
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    transform: translate(29px, 10px);
    white-space: nowrap;
  }

  &__text-fill {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    color: var(--color-blue-dark);
  }

  &__card {
    width: 100%;
    max-width: 766px;
    position: relative;
    padding-top: 45px;
    overflow: hidden;

    &:first-child {
      padding-top: 20px;
    }
  }

  &__programs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  &__text {
    border: 1px solid var(--color-main-yellow);
    background-color: var(--color-main-yellow);
    height: 28px;
    border-radius: 30px;
    padding: 4px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--color-main-white);
    font-weight: 600;
    white-space: nowrap;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out,
      margin-top 0.4s ease-out, margin-bottom 0.4s ease-out;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
    }

    &-info {
      flex-shrink: 0;
      padding-bottom: 15px;
    }

    &--top {
      margin-top: 10px;
      margin-bottom: 20px;
      max-height: 100px;
      opacity: 1;
      pointer-events: auto;

      &:not(.active) {
        max-height: 0;
        opacity: 0;
        margin: 0;
        pointer-events: none;
      }
    }

    &--bottom {
      margin: 0;
      max-height: 0;
      opacity: 0;
      pointer-events: none;

      &.active {
        margin: 20px 0 45px;
        max-height: 200px;
        opacity: 1;
        pointer-events: auto;
      }
    }

    .faq__paragraph {
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;

    img {
      height: 16px;
      width: auto;
    }
  }

  &__line {
    border-top: 1px solid var(--color-grey);
    width: 100%;
  }

  &__h2 {
    font-size: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.2s ease;
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      transition: transform 0.2s ease;
    }
  }

  &__answer {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out,
      visibility 0.4s ease-out, padding 0.4s ease-out, border 0.4s ease-out;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 30px;

    &.active {
      max-height: 767px;
      opacity: 1;
      visibility: visible;
      padding: 30px;
      border-radius: 30px;
      border: 1px solid var(--color-main-blue);
    }

    p {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 1.6;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
