.about-us-section {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 199px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 777px;
  }

  &__section-heading {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
  }

  &__text-outline {
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    transform: translate(29px, 10px);
    white-space: nowrap;
  }

  &__text-fill {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    color: var(--color-blue-dark);
    z-index: 1;
    margin: 0;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--color-blue-dark);
  }

  &__content {
    max-width: 100%;
    width: 777px;
    z-index: 1;
  }

  &__subtitles {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--color-blue-dark);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__map-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    max-width: 515px;
    height: auto;
    right: 0;
  }

  &__image {
    width: 100%;
    max-width: 515px;
    height: auto;
    object-fit: contain;
    display: block;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 999px;
    height: 1px;
    background-color: var(--color-white-line);
    margin: 0 auto;
  }
}
