@import "/project/scss/utils/variables";

.homepage-header-style {
  .header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
  }
}

.header {
  background-color: var(--color-blue-dark);
  padding: 25px 0;
  position: relative;

  &__container {
    display: flex;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
      flex-grow: 1;
    }

    a {
      &.active {
        font-weight: bold;
      }
    }
  }

  &__burger {
    display: none;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: var(--color-main-white);

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
