{% extends "base.html" %}
{% load static %}

{% block meta_title %}{{ meta_title|default:"University Details | StudentAbroad" }}{% endblock %}
{% block meta_description %}{{ meta_description|default:"Explore exchange programs at this university." }}{% endblock %}
{% block og_type %}article{% endblock %}

{% block schema_json_ld %}
{% if university %}
<!-- Schema.org EducationalOrganization JSON-LD -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "EducationalOrganization",
    "name": "{{ university.name_en|default:university.name_uk|escapejs }}",
    "description": "{{ university.description_en|default:university.description_uk|striptags|truncatewords:50|escapejs }}",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "{{ university.location_en|default:university.location_uk|escapejs }}",
        "addressCountry": "{{ university.country.code }}"
    }{% if university.website_url %},
    "url": "{{ university.website_url }}"{% endif %}{% if university.contact_email %},
    "email": "{{ university.contact_email }}"{% endif %}
}
</script>
{% endif %}
{% endblock %}

{% block main_attrs %} id="bg"{% endblock %}

{% block content %}
<div class="bg-overlay" {% if university.background_image %}
  style="background-image: url('{{ university.background_image.url }}');" {% endif %}></div>

<section class="back-button">
  <a href="javascript:history.back()" class="go-back_conf">
    <svg class="icon" width="16.68" height="8" viewBox="0 0 15 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.551 17.884c-0.735-0.876-0.735-2.298 0-3.174l11.292-13.452c0.735-0.876 1.929-0.876 2.664 0s0.735 2.298 0 3.174l-9.963 11.869 9.957 11.869c0.735 0.876 0.735 2.298 0 3.174s-1.929 0.876-2.664 0l-11.292-13.452 0.006-0.007z"
        fill="currentColor" />
    </svg>
    <span data-en="Go back" data-ua="Назад">Go back</span>
  </a>
</section>

<div class="uni-name">
  <h1 data-en="{{ university.name_en }}" data-ua="{{ university.name_uk }}" class="container">
    {{ university.name_en|default:university.name_uk|linebreaksbr }}
  </h1>
</div>

<section class="page-content">
  <div class="info-box">
    <div class="uni-info">
      <div class="location-contact">
        <div class="info-block">
          <div class="info-line">
            <span class="label" data-en="LOCATION:" data-ua="ЛОКАЦІЯ:">LOCATION:</span>
            <span class="thin-text" data-en="{{ university.location_en }}&nbsp;&nbsp;"
              data-ua="{{ university.location_uk }}&nbsp;&nbsp;">
              {{ university.location_en }}&nbsp;&nbsp;
            </span>
            <img src="{% static 'project/img/loc-blc.ico' %}" alt="Location icon" />
          </div>
          <div class="info-line">
            <span class="label" data-en="CONTACTS:" data-ua="КОНТАКТИ:">CONTACTS:</span>
            <span class="thin-text">{{ university.contact_email }}&nbsp;&nbsp;</span>
            <img src="{% static 'project/img/mail-icon.svg' %}" alt="Mail icon" />
          </div>
        </div>
      </div>
      <div class="chill_line"></div>
      <div class="description-mobile-box">
        <p class="description" data-en="{{ university.description_en }}" data-ua="{{ university.description_uk }}">
          {{ university.description_en|default:university.description_uk }}
        </p>
      </div>

      {% if university.website_url %}
      <a class="read-more-link" href="{{ university.website_url }}" target="_blank" data-en="read more(sources)"
        data-ua="читати більше(джерела)">read more(sources)</a>
      {% endif %}

      <section class="university-mobility">
        <h3 data-en="University mobility:" data-ua="Програми обміну:">
          University mobility:
        </h3>
        <div class="mobility-links">
          {% for program in programs %}
          <a href="{{ program.get_absolute_url }}" data-en="{{ program.name_en }}" data-ua="{{ program.name_uk }}">
            {{ program.name_en|default:program.name_uk }}
          </a>
          {% empty %}
          <p data-en="No programs available at the moment." data-ua="Наразі доступних програм немає.">
            No programs available at the moment.
          </p>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %}
